.img{
    background-image:url(imagens/diariodeumbanana.png) ;
    }
    .img{
        background-image: url(imagens/meninodescobriuovento.png);
    }
    .img{
        background-image: url(imagens/rainhavermelha.png);
    }
    .img{
        background-image: url(imagens/meninodopijama.png);
    }
    .img{
        background-image: url(imagens/cincocrianças.png);
    }
    .img{
        background-image: url(imagens/coraline.png);
    }
    .img{
        background-image: url(imagens/jogosvorazes.png);
    }
    
    .img{
        background-image: url(imagens/arvore.png);
    }
    