/* CSS para centralizar o card no centro do site */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura do corpo para ocupar toda a altura da tela */
    margin: 0; /* Remove as margens padrão */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-client {
    background: #43b5d1;
    width: 20rem; /* Aumenta a largura do cartão */
    padding: 25px;
    border: 4px solid #337ead;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fbf7f7;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 0 auto; /* Centraliza o cartão horizontalmente */
}

.card-client:hover {
    transform: translateY(-10px);
}

.user-picture {
    overflow: hidden;
    width: 8rem; /* Aumentando o tamanho do círculo */
    height: 8rem; /* Aumentando o tamanho do círculo */
    border: px solid #eff7f5;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url('imagens/image.png');
    background-size: 200%; /* Ajustando o tamanho da imagem */
    background-position: center;
}



.user-picture svg {
    width: 2rem; /* Aumenta o tamanho dos ícones */
    fill: currentColor;
}

.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #cfdedb;
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a svg {
    width: 2rem; /* Aumenta o tamanho dos ícones */
    fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}
